target/
.classpath
.project
.settings/
.idea/
*.iml
*.ipr
*.iws
*.marker
*.log
build/
minikube-deployment/
**/.kotlintest
.gradle/


/linki-app/activemq-data/*
/linki-app/.kotlintest
/linki-app/src/test/resources/schema-mapping/
/linki-app/src/test/resources/schema-sources/
